# Ignore class folders individually (remove a line to unignore a specific class)
JS_Mini_Project/class_code/class_03/
JS_Mini_Project/class_code/class_04/
JS_Mini_Project/class_code/class_05/
JS_Mini_Project/class_code/class_06/
JS_Mini_Project/class_code/class_07/
JS_Mini_Project/class_code/class_08/
JS_Mini_Project/class_code/class_09/
JS_Mini_Project/class_code/class_10/
JS_Mini_Project/class_code/class_11/
JS_Mini_Project/class_code/class_12/

Lectures/8_21_25_Lecture
Lectures/8_25_25_Lecture
Lectures/8_28_25_Lecture
Lectures/9_4_25_Lecture
Lectures/9_8_25_Lecture
Lectures/9_11_25_Lecture
Lectures/9_15_25_Lecture
Lectures/9_18_25_Lecture
Lectures/9_22_25_Lecture
# Always ignore node_modules for the TypeScript lesson
Lectures/9_22_25_Lecture/solution
# Keep docs and Project_files tracked