# SYSTEM / SETTINGS
.DS_Store
copilot instructions.md
copilot readme instructions.md
copilot exercises instructions.md

# JAVASCRIPT LECTURES
# Lectures/Javascript/8_14_25_Lecture
# Lectures/Javascript/8_18_25_Lecture
# Lectures/Javascript/8_21_25_Lecture
# Lectures/Javascript/8_25_25_Lecture
# Lectures/Javascript/8_28_25_Lecture
# Lectures/Javascript/9_04_25_Lecture
# Lectures/Javascript/9_08_25_Lecture
# Lectures/Javascript/9_11_25_Lecture
# Lectures/Javascript/9_15_25_Lecture

# Angular Lectures
# Lectures/Angular
# Lectures/Angular/9_22_25_Lecture
# Lectures/Angular/9_25_25_Lecture/
# Lectures/Angular/9_29_25_Lecture/
# Lectures/Angular/10_02_25_Lecture/
# Lectures/Angular/10_06_25_Lecture/
# Lectures/Angular/10_09_25_Lecture/
# Lectures/Angular/10_13_25_Lecture/
# Lectures/Angular/10_16_25_Lecture/
# Lectures/Angular/10_20_25_Lecture/
Lectures/Angular/10_23_25_Lecture/
Lectures/Angular/10_27_25_Lecture/
Lectures/Angular/10_30_25_Lecture/
Lectures/Angular/11_03_25_Lecture/
Lectures/Angular/readme.md

# NODEJS Lectures
Lectures/NodeJS
Lectures/NodeJS/11_06_25_Lecture/
Lectures/NodeJS/11_10_25_Lecture/
Lectures/NodeJS/11_13_25_Lecture/
Lectures/NodeJS/11_17_25_Lecture/
Lectures/NodeJS/11_20_25_Lecture/
Lectures/NodeJS/11_24_25_Lecture/
Lectures/NodeJS/12_01_25_Lecture/
Lectures/NodeJS/12_04_25_Lecture/
Lectures/NodeJS/12_08_25_Lecture/
Lectures/NodeJS/12_11_25_Lecture/

